---
layout: "layout.liquid"
---

{% for doc in collections.documentation %}
    <div style="background-color: #364041">
        <span>
            {{ doc.content }}
        </span>
    </div>
{% endfor %}
