.content {
  width: 50%;
  overflow: auto;
  flex-grow: 5;
  margin-right: 15%;
}

.content-body {
  padding: 3% 3%;
}

.content-header {
  h1 {
    font-size: xxx-large;
  }
  padding: 3% 3%;
  border-bottom: lightgray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  p {
    display: flex;
    img {
      flex: 0;
      padding: 3px;
    }
  }
}
