@use 'markdown-it-github-alerts/styles/github-base.css';
@use 'markdown-it-github-alerts/styles/github-colors-light.css';
@use 'sidebar';
@use 'content';
@use 'about';
@use 'github-link';

body {
  background-image: radial-gradient(farthest-side, white, #fdfcf8);
  height: 100vh ;
}

.homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  font-family: 'Roboto', sans-serif;
}

#footer {
  display: none;
}