---
layout: "nav.njk"
---
<div class="about-page">
    <div class="content-header">
        {% for alert in collections.alert %}
            {{ alert.content }}
        {% endfor %}
        <img src="/assets/unlocked.png" alt="" class="lock-icon">
        <h1>Vault KMS Provider </h1>
        {% for badge in collections.badges %}
            {{ badge.content }}
        {% endfor %}
    </div>
    <div class="content-body">
        {{ content }}
    </div>
</div>
