<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vault KMS Provider</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="manifest" href="/assets/site.webmanifest">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-solarizedlight.css" rel="stylesheet"/>
    </head>
    <body style="background-color: #ffffff">
        <div class = "github-link">
            <a href="https://github.com/Ruddickmg/vault-kms-provider">
                <img src="/assets/github-mark.png" alt="GitHub" class="github-icon" />
            </a>
        </div>
        {{ content }}
    </body>
</html>
