<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vault KMS Provider</title>
    <link
            href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
            rel="stylesheet"
    />
</head>
<body style="background-color: #253131">
    {{ content }}
</body>
</html>