---
layout: base.liquid
links: ["configuration", "installation"]
---

<div class="homepage">
    <div class="sidebar">
       <div class="navbar">
           <div>
             <a href="/">
               <h2>Quick Start</h2>
             </a>
           </div>
           {% for category, categories in collections %}
               {% if category == "installation" or category == "configuration" %}
               <div>
                 <a href="/{{ category }}"><h2>{{ category | capitalize }}</h2></a>
                 <ul>
                   {% for page in categories %}
                     {% if page.data.title %}
                       <li><a href={{ page.url }}>{{ page.data.title }}</a></li>
                     {% endif %}
                   {% endfor %}
                 </ul>
               </div>
               {% endif %}
           {% endfor %}
       </div>
    </div>
    <div class="content">
        {{ content | safe }}
    </div>
</div>