---
layout: base.liquid
links: ["configuration", "installation"]
---

<div class="homepage">
    <div class="sidebar">
       <div class="navbar">
           <div>
             <a href="/">
               <h2>Quick Start</h2>
             </a>
           </div>
           {% for category, categories in collections %}
               {% if categories.length %}
                   {% if category == "installation" or category == "configuration" or category == "benchmarks" %}
                   <div>
                     {% if category != "benchmarks" %}
                       <a href="/{{ category }}"><h2>{{ category | capitalize }}</h2></a>
                     {% else %}
                       <h2>{{ category | capitalize }}</h2>
                     {% endif %}
                     <ul>
                       {% for page in categories %}
                         <li><a href={{ page.url }}>{{ page.fileSlug | capitalize }}</a></li>
                       {% endfor %}
                     </ul>
                   </div>
                   {% endif %}
               {% endif %}
           {% endfor %}
       </div>
    </div>
    <div class="content">
        {{ content | safe }}
    </div>
</div>